[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "forecastLSW"]
	path = forecastLSW
	url = https://github.com/cran/forecastLSW
[submodule "lpacf"]
	path = lpacf
	url = https://github.com/cran/lpacf
